<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Test Switch</string>
			<key>Key</key>
			<string>test_switch</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<string>SW ON</string>
			<key>FalseValue</key>
			<string>SW OFF</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Test Color</string>
			<key>Key</key>
			<string>test_multivalue</string>
			<key>DefaultValue</key>
			<string>red</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
			</array>
			<key>Values</key>
			<array>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>test_slider</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>MinimumValue</key>
			<real>1.5</real>
			<key>MaximumValue</key>
			<real>4.5</real>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Test Radio</string>
			<key>FooterText</key>
			<string>Test Radio Footer</string>
			<key>Key</key>
			<string>test_radiogroup</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Debug</string>
				<string>Release</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextViewSpecifier</string>
			<key>Key</key>
			<string>test_textview</string>
			<key>DefaultValue</key>
			<string>Text TextView</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSCoreDataSpecifier</string>
			<key>Title</key>
			<string>Test Entity 1</string>
			<key>Entity</key>
			<string>TestEntity1</string>
			<key>SortKey</key>
			<string>date</string>
			<key>SortAscending</key>
			<false/>
			<key>EditingStyle</key>
			<string>delete</string>
			<key>IsEditing</key>
			<true/>
			<key>CanEdit</key>
			<true/>
			<key>CanMove</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSCoreDataSpecifier</string>
			<key>Title</key>
			<string>Test Entity 2</string>
			<key>Entity</key>
			<string>TestEntity2</string>
			<key>SortKey</key>
			<string>index</string>
			<key>SortAscending</key>
			<true/>
			<key>EditingStyle</key>
			<string>none</string>
			<key>CanEdit</key>
			<true/>
			<key>CanMove</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Test TitleValue</string>
			<key>Key</key>
			<string>test_titlevalue</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>(1)</string>
				<string>(2)</string>
				<string>(3)</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSButtonSpecifier</string>
			<key>Title</key>
			<string>Test Button 1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSButtonSpecifier</string>
			<key>Title</key>
			<string>Test Button 2</string>
		</dict>
	</array>
</dict>
</plist>
