<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Product description</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSProductButtonSpecifier</string>
			<key>Title</key>
			<string>org.cocoapods.demo.SettingsBundleViewController-Example.product1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSButtonSpecifier</string>
			<key>Title</key>
			<string>Restore Purchases</string>
		</dict>
	</array>
</dict>
</plist>
